body {
    background-image: url(background-image.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.Menu {
    color: brown;
    text-align: left;
    font-size: 50px;
}
ul {
    display: inline;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif; color: black;
    text-align: left;
}
#lorem1 {
    background-color: none; 
    color: black; font-style: italic; 
    font-family: 'Times New Roman', Times, serif; 
    text-align: left;
}
.para1 {
    color: blue; font-family: 'Courier New', Courier, monospace; 
    font-size: 20px; text-align: left; 
    text-decoration: solid;
}
div {
    color: chocolate; 
    background-color: white ;
    font-style: italic; 
    font-weight: bold; 
    border-style: solid;
    border-color: rgb(200, 89, 30); 
    border-width: 4px; padding: 8px;
    border-radius: 12px;
}
.margin {
    border: solid black thin;
    background: skyblue;
    /* margin-left: 550px;
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: 80px; */
    width: 450px;
    margin: auto;   
}
.padding{
    padding: 40px;
    margin-top: 10px;
    background-color: burlywood;
    border-width: 2px;
    /* padding: auto; */
}
.heightandwidth{
    height: 100px;
    width: 50%;
    color: blueviolet;
}
.outlinetest{
    border-width: 2px; border-color: black;
    outline-width: 10px; 
    outline-color:aqua; outline-style: solid;
    margin: 70px;
}
/* a:link { 
    background-color:rgb(200, 89, 30);
    padding: 15px 25px;
    text-align: center;
    color: black; 
    text-decoration: none;
} */
/* .linkasbutton, a:hover{
    text-decoration: none;
    font-weight: bolder;
} */
ul {
    background-color:chocolate;
    color: black;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 20px; 
}
ul li {
    background-color: skyblue;
    color: rgb(184, 11, 11);
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
ol {
    background-color:chocolate;
    color: black;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 20px; 
}
ol li {
    background-color: skyblue;
    color: rgb(184, 11, 11);
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #be2d2d;
}

tr:hover {
    background-color: coral;
}
.overflow{
    overflow: auto;
    width: 50%;
    height: 150px;
    padding: 5px;   
    margin: 0;
}
#flexhead{
    color:#be2d2d;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}
.flexcontainer{
    display: flex;
    background-color: cornflowerblue;
    width: 60%; height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.flexcontainer div{
    background-color: brown;
    margin: 2%;
    height: 50px; width: 50px;
    padding: 20px;
    font-size: 20px;
    border-color: yellowgreen;
    border-width: 3px;
    align-items: center;
}
.gridcontainer {
    display: grid;
    background-color: lightseagreen;
    padding: 10px;
    gap: 20px;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;    

}
.gridcontainer div {
    background-color: gray;
    color: black;
    padding: 40px;
    text-align:  center;
}
a:link {
    color: red;
}
a:hover {
    color:red;
}
#firstline::first-letter {
    color: #be2d2d;
    font-size: 50px;
}
#firstline::first-line {
    font-size: large;
    color: darkslategrey;
}
.transition-effect {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: width 3s, height 4s, background-color 3s;
}
.transition-effect:hover {
    background-color: red;
    width: 500px;
    height: 400px;
}
.transform-effect {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    transition: width 3s, height 3s, 
                background-color 2s;
                transform: 3s;
}
.transform-effect:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    background-color: blueviolet;
}
#button-transition {
    width: 80px;
    height: 40px;
    background-color: coral;
    transition: width 1s; height: 1s; background-color: 1s;
}
#button-transition:hover {
    width: 120px;
    height: 60px;
    background-color: blanchedalmond;
}
.transition-timing {
    background-color: skyblue;
    height: 20%;
    width: 50%;
    
}
.transition-timing div {
    width: 100px;
    height: 50px;
    background-color: red;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes myAnimation {
  from {left: 0px;}
  to {left: 300px;}
}